@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #ef6024,#F0941F);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(134, 52, 17);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #196774;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(2, 20, 24);
}

h2{
    color: #363432;
}
p{
    text-align: justify;
}